fastapi
uvicorn
sqlalchemy
psycopg2-binary
httpx==0.28.1
pydantic
aiofiles
python-multipart
python-dotenv
openai
markdown
pdfkit
reportlab
jinja2
python-jose[cryptography]
bcrypt
passlib[bcrypt]
boto3
